.contact_me img{
    display: grid;
    max-width:70px ;
    padding-right: 2rem;    
    cursor: pointer;
}

.contact_me{
    display: flex;
    color:rgb(21, 156, 28);
    align-items: center;
    text-align: center;
    /* grid-template-columns: repeat(auto-fit,minmax(20px,auto)); */
}

.contact_me_heading h2{
    padding-bottom: 2rem;
    font-size: 2rem;
}

.contact_me_heading p{
    color: rgb(65, 65, 65);
    padding-bottom: 2rem;
}