.footer_grid{
    display: grid;
    background-color: transparent;
    /* grid-template-columns: repeat(auto-fit,minmax(200px,auto)); */
    grid-template-columns: auto auto ;
    grid-gap: .5rem;

    
}
.footer a,h1,hr,p{
    background-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.footer a{
    color: white;
    font-size: small;
    padding: .2rem;
}

.footer a:hover{
    background-color: rgb(55, 93, 165);
    border-radius: 10rem;
    font-size: small;
}

.footer h1{
    color: rgb(221, 255, 255);
    padding-bottom: .5rem ;
}
.footer p{
    color: rgb(255, 255, 255);
    padding-bottom: .5rem ;
}
.footer hr{
    color: rgb(18, 134, 134);
    margin-top: .5rem;
    margin-bottom: 3rem ;
}
.footer{
    background-color: rgb(5, 26, 59);
}