* {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Josefin Slab", serif; */
  font-family: 'League Spartan', sans-serif;
  /* list-style: none; */
  text-decoration: none;
  scroll-behavior: smooth;
  max-width: 100%;

}

:root {
  --bg-color: rgb(244, 247, 255);
  --text-color: #000;
  --second-color: rgb(4, 61, 175);
  --main-color: rgb(230, 111, 0);
  --big-font: 3rem;
  --p-font: 1.1rem;
  
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  
}

header {
  position: fixed;

 
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* border: solid; */
  justify-content: space-between;
  /* background: var(--bg-color); */
  /* background: transparent; */
  padding: 15px 5%;
  transition: 0.3s;
}

header.sticky {
  background: rgb(255, 91, 91);
  padding: 25px 18%;
  box-shadow: 0px 0px 10px rgb(0 0 0/10%);
}
.logo {
  max-width: 100%;
  /* width: 130px; */
  /* height: auto; */
  font-size: 2rem;
  font-family: "Mrs Saint Delafield", cursive;
  /* font-family: 'Passions Conflict', cursive; */
  color: rgb(24, 116, 177);
  font-weight: 900;
}

.navlist {
  display: flex;
  list-style: none;
  margin: -2%;
  padding: 10px;
}
.navlist li {
  position: relative;
  
}
.navlist a {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  padding: 10px 27px;
}

/* underline effect */
.navlist a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--main-color);
  bottom: -3px;
  left: 0;
  transition: ease 0.4s;
}
.navlist a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* download button */
.top-btn {
  display: inline-block;
  padding: 9px 30px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 30px;
  color: var(--text-color);
  letter-spacing: 1px;
  font-size: var(--p-font);
  font-weight: 500;
  transition: ease 0.5s;
}
.top-btn:hover {
  transform: scale(1.1);
  background: var(--main-color);
  border: 2px solid var(--main-color);
  color: var(--bar-color);
}
/* ----------------------------------------------------------------------------- */
section {
  padding: 50px 10%;
  /* border: solid ; */
}
.nuemorphism{
  border-radius: 50px;
background: #ffffff;
box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff;
}
.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  /* border:solid; */
  /* background:url(../image.jpg); */
  /* background-position: center; */
  /* background-size: cover; */
  /* position: relative; */
  display: grid;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: 20px auto 38%;
  /* major changes happened -----------------------------------*/
  align-items: center;
  grid-gap: 2rem;
  margin-top: -20rem;
}

.sandhya{
  position:absolute;
 
  text-overflow: clip;
}
sandhya{
  background-color: none;
  font-size: 22rem;  
  text-overflow: "string";
  background: transparent;
  position: absolute;
  margin-top:20rem;
  margin-left:-14rem;
  padding-right:0;
  text-overflow: clip;
  /* white-space: pre-line; */
  /* overflow: hidden; */
  
  
  
  /* word-wrap: break-word; */
  color:transparent;
  -webkit-text-stroke:2px black;  
}
.home-text-padding{
  padding-top: 30rem;
}
.home-text hr{
  width: 40%;
  

}
.home-text h1 {
    background: none;
  margin: 10px 0px 10px;
  font-size: 5rem;
  line-height: 1;
  font-weight: 900;
}

.home-text h5 {
  background: none;
  margin-top:  px;
  margin-bottom: 23px;
  font-size: 1.2rem;
  font-weight: 500;
}
span {
  color: var(--main-color);
  background: none;
}

.home-text h3 {
  /* margin-bottom: 23px; */
  margin-top: -200px;
  font-size: 1.2rem;
  font-weight: 500;
  background: none;
}
span {
  color: var(--main-color);
}

.background_none{
    background: none;
}


.home-text p {
  font-size: var(--p-font);
  color: rgb(56, 56, 56);
  line-height: 28px;
  margin-bottom: 20px;
  width: 100px; 
  text-align: justify;
  background: none;
}
/* customise the social media icons at 13:49 --------------------*/
.social{
  padding-top: 18rem;
}
.social a {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background: none;
  font-size: 17px;
  color: black;
  
  /* margin-right:22px */
  /* margin-bottom:30px; */
}
.social a:hover {
  transform: scale(1.1);
  background: red;
  transition: 0.5s;
}

.btn {
  display: inline-block;
  color: var(--bg-color);
  background: var(--main-color);
  font-size: var(--p-font);
  padding: 10px 20px;

  font-weight: 500;
  line-height: 24px;
  border-radius: 10px;
  transition: ease 0.4s;
}

.btn:hover {
  transform: scale(1.05);
}
 
.home-img img {
  background: none;
  max-width: 100%;
  width: 500px;
  height: auto;
  /* padding-bottom: 0%; */
  /* border: solid; */
  /* margin-bottom: 0%; */
  /* position : absolute; */
}

/* second page ---------------------------------------------------------------------*/

