.myObjective{
display:grid;
grid-template-columns: repeat(auto-fit,minmax(220px,auto));
grid-gap:2rem;
min-height: 100%;
height:100%;
padding-top: rem;
padding-bottom:3rem;
padding-left:1rem;
margin-bottom: 7rem;
/* height: 100%;
width: 100%; */

}

.aboutMeContent{
    padding-left: 2rem;
    width: 550px;
}

.myObjective h1{
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 4rem;
    color:  rgb(43, 43, 43);
}

.myObjective p{
    padding-bottom: 1rem;
}

.rectangle_divider{
height: 0.3rem;
width:8rem;
background-color: rgb(228, 0, 133);
}